<!doctype html>
<html>
  <head>
    <title>Add new item(s)</title>
  </head>
  <body>
    <h1>Add new item(s)</h1>

<form method="POST">
  <div>
    <label for="brandName">Brand Name:</label>
    <input
      id="brandName"
      name="brandName"
      placeholder="e.g.: 'Bonduelle'"
    />
  </div>
  <div>
    <label for="productName">Product Name:</label>
    <input
      id="productName"
      name="productName"
      placeholder="e.g.: 'Red Beans'"
    />
  </div>
  <div>
    <label for="productSize">Product Size:</label>
    <input
      id="productSize"
      name="productSize"
      placeholder="e.g.: '250'"
    />
  </div>
  <div>
    <label for="productUnit">Product Unit:</label>
    <input
      id="productUnit"
      name="productUnit"
      placeholder="e.g.: 'g'"
    />
  </div>
  <div>
    <label for="stockExpiring">Stock Expiring</label>
    <input
      id="stockExpiring"
      name="stockExpiring"
      placeholder="YYYY-MM-DD"
    />
  </div>
  <div>
    <label for="stockAmount">Stock Amount</label>
    <input
      id="stockAmount"
      name="stockAmount"
      placeholder="e.g.: 5"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    </body>
  </html>
