<!doctype html>
<html>
  <head>
    <title>Home page</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <h2>Expired Items</h2>
    <table border=1>
      <tr>
        <th>Brand</th>
        <th>Product</th>
        <th>Expiring Date</th>
        <th>Amount</th>
      </tr>
      {% for row in expired %}
      <tr>
        <th>{{row[0]}}</th>
        <th>{{row[1]}}</th>
        <th>{{row[2]}}</th>
        <th>{{row[3]}}</th>
      </tr>
    {% endfor %}
    </table>
    <h2>Expires Soon</h2>
    <table border=1>
      <tr>
        <th>Brand</th>
        <th>Product</th>
        <th>Expiring Date</th>
        <th>Amount</th>
      </tr>
    {% for row in soon_expire %}
      <tr>
        <th>{{row[0]}}</th>
        <th>{{row[1]}}</th>
        <th>{{row[2]}}</th>
        <th>{{row[3]}}</th>
      </tr>
    {% endfor %}
    </table>
    </body>
  </html>
