<!doctype html>
<html>
  <head>
    <title>Remove Item(s)</title>
  </head>
  <body>
    <h1>Remove Item(s)</h1>
<form method="POST">
  <div>
    <label for="uniqueName">Unique Name:</label>
    <input
      id="uniqueName"
      name="uniqueName"
      placeholder="unique name from search item"
    />
  </div>
  <div>
    <label for="expiringDate">Expiring Date:</label>
    <input
      id="expiringDate"
      name="expiringDate"
      placeholder="expiring date from search item"
    />
  </div>
  <div>
    <label for="stockAmount">Stock Amount</label>
    <input
      id="stockAmount"
      name="stockAmount"
      placeholder="e.g.: 5"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    </body>
  </html>
