<!doctype html>
<html>
  <head>
    <title>Home page</title>
  </head>
  <body>
    <h1>Dashboard</h1>

<form method="POST">
  <h3>Sign Up</h3>
  <div>
    <label for="brandName">Brand Name</label>
    <input
      id="brandName"
      name="brandName"
      placeholder="Brand Name: "
    />
  </div>
  <div>
    <label for="productName">Product Name</label>
    <input
      id="productName"
      name="productName"
      placeholder="Product Name: "
    />
  </div>
  <div>
    <label for="productSize">Product Size</label>
    <input
      id="productSize"
      name="productSize"
      placeholder="Product Size: "
    />
  </div>
  <div>
    <label for="productUnit">Product Unit</label>
    <input
      id="productUnit"
      name="productUnit"
      placeholder="Product Unit: "
    />
  </div>
  <div>
    <label for="stockExpiring">Stock Expiring</label>
    <input
      id="stockExpiring"
      name="stockExpiring"
      placeholder="Stock Expiring: "
    />
  </div>
  <div>
    <label for="stockAmount">Stock Amount</label>
    <input
      id="stockAmount"
      name="stockAmount"
      placeholder="Stock Amount: "
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    </body>
  </html>
